.actionButton {
  display: flex;
  align-items: center;
  margin: 1px 0px;
  color: #666666;
  padding: 12px 10px;
  transition: all 100ms ease-in-out;
  border-radius: 2px;
}
.actionButton:hover {
  background-color: #e0e0de;
  cursor: pointer;
}
.actionButton > h4 {
  margin-left: 5px;
  font-weight: 450;
  font-size: 13px;
}
